<div class="panel panel-default">
  <div class="panel-heading">ID {{ model?.id | uppercase }}</div>
  <table class="table table-striped">
    <tr
      [class.success]="model?.hasDamage == false"
      [class.danger]="model?.hasDamage == true">
      <td>Schaden</td>
      <td>{{ model?.hasDamage ? 'Ja' : 'Nein' }}</td>
    </tr>
    <tr
      [class.warning]="model?.tankCapacity < 60"
      [class.danger]="model?.tankCapacity < 20">
      <td>Trankfüllung</td>
      <td>{{ model?.tankCapacity | number:'1.2-2' }} liter</td>
    </tr>
    <tr>
      <td>Fahrer</td>
      <td>
        <a *ngIf="model.driver" [routerLink]="['/Drivers', 'Details', { forCarId: model?.id }]">{{ model?.driver?.firstName }} {{ model?.driver?.lastName }}</a>
        <i *ngIf="!model.driver">nicht registriert</i>
        &nbsp;
        <a class="btn btn-sm btn-default" [routerLink]="['/Drivers', 'Create', { forCarId: model?.id }]">ändern</a>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <button
          (click)="stoneImpact()"
          [disabled]="model == null"
          class="btn btn-danger">
          &#9888; Steinschlag
        </button>
      </td>
    </tr>
  </table>
</div>
